.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f2f2f2;
  min-height: 430px;
  padding: 30px 60px;
}

.hero-acessibilidade {
  text-align: center;
}

.hero-acessibilidade img {
  width: 480px;
  max-width: 100%;
}

.hero-mapa img {
  width: 480px;
  max-width: 100%;
}