.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f2f2f2;
}

.hero-acessibilidade {
  text-align: center;
}

.hero-acessibilidade img {
  width: 350px;
}

.hero-mapa img {
  width: 350px;
}